@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --color-sectionClrDark: #373737;
    --color-sectionContainerDark: #222222;
    --color-darkBackground: #262626;
    --color-darkBrown: #a67538;
    --color-lightBrown: #CB995B;
    --color-lightBG: #FAF9F6;
    --color-sectionClrLight: #e4dcd2;
    --color-popupMenu: #a89c93;

    --font-poltawski: "Poltawski Nowy", serif;
    --font-roboto: "Roboto Mono", monospace;        
}

*{    
    box-sizing: border-box;    
}