@font-face {
    font-family: montserrat;
    src: url(assets/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: poltawski;
    src: url(assets/Poltawski_Nowy/PoltawskiNowy-VariableFont_wght.ttf);
}
:root{
    --darkBrown: #A67538;
    --lightBrown: #CB995B;
    --sectionClrLight: #EDE6DD;
    --sectionClrDark: #3E3E3E;
    --sectionContainerDark: #222222;
    --popupMenu: #AC9D93;
}
#body{
    width: 100%;
}
#nav{
    width: 100%;
    position: fixed;
    z-index: 1000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#body{
    display: flex;
    flex-direction: column;
}
/*HEADER*/
header{
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.384);
    background-color: white;
}
header .nav-btn ul{
    margin: 0;
    text-align: center;
    padding: 0;
}
header .nav-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
header li{
    font: 300 18px poltawski;
    text-decoration: none;
    list-style-type: none;
    margin: 0px 30px;
    cursor: pointer;
    display: inline-block;
}
header li a{
    color: black;
    text-decoration: none;
    margin: 0;
}
.darkmode-icon{
    max-width: 20px;
    margin-right: 50px;
    cursor: pointer;
}
.gt-logo{
    max-width: 35px;
    margin: 5px 0px 5px 50px;
}
#menuBtn{
    display: none;
}
.popup-menu{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}

/*HERO SECTION*/
#hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.hero-text{
    max-width: 30rem;
}
.hero-img{
    max-width: 30%;
}
.hero{
    width: 100%;
}
.hero-des{
    font: 400 20px montserrat;
}
span{
    font-weight: 700;
}
.hero-text h1{
    font: 600 italic 55px poltawski;
    color: var(--darkBrown);
}
.hero-btn-links{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.hero-btn-links .dl-cv{
    font: 500 15px montserrat;
    background-color: var(--lightBrown);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    margin-right: 15px;
    text-decoration: none;
}
.dl-cv:hover{
    background-color: #c09055;
    transition: .2s ease;
}
.link-icon{
    width: 30px;
    margin: 0px 5px;
}
/*ABOUT SECTION*/
#about{
    width: 100%;
    background-color: var(--sectionClrLight);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21rem;
    margin: 50px 0px;
}
.abt-container {
    width: 80%;
    background-color: white;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}
.line-separator {
    width: 5px;
    background-color: var(--sectionClrLight);
    align-self: stretch;
}
.abt-content{
    max-width: 19rem;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}
.abt-skill{
    font: 700 italic 17px poltawski;
    margin-bottom: 10px;
}
.skill-desc{
    font: 400 17px montserrat;
    margin-bottom: 25px;
}
.abt-tools{
    font: 500 italic 17px poltawski;
    color: var(--darkBrown);    
    margin-bottom: 10px;
}
.abt-content .tools-list{
    list-style: none;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.abt-content .tools-list li{
    font: 400 16px montserrat;
    line-height: 25px;
}

/*PROJECTS SECTION*/
#projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0px 50px 0px;
}
.projects-top{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}
h2{
    font: 600 italic 25px poltawski;
    margin-bottom: 15px;
}
.project-desc{
    font: 400 18px montserrat;
}
.projects-bot{
    margin-top: 30px;
    text-align: center;
    width: 80%;
}
.proj-cards{
    width: 300px;
    height: 250px;
    display: inline-block;
    margin: 30px 20px;
    text-align: left;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.329);
    z-index: 1;
}
.projCards-top{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.projCover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.projCards-bot{
    display: block;
}
.projCards-title-desc{
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#52391bde 5%, #000000 100%);
    transition: .5s ease;
    border-radius: 20px;
    z-index: 1;
}
.title-desc-separator{
    width: 40%;
    height: 2px;
    background-color: white;
    margin: 8px 0px;
}
.projTitle{
    color: white;
    font: 600 18px montserrat;
    width: 90%;
    text-align: center;
    margin: 0;
}
.projDesc{
    color: white;
    font: 300 16px montserrat;
    width: 80%;
    text-align: center;
}
.proj-cards:hover .projCards-title-desc{
    height: 100%;
}
.viewProj{
    margin-top: 15px;
    font: 500 15px montserrat;
    padding: 5px 18px;
    cursor: pointer;
    color: white;
    background-color: var(--darkBrown);
    border: 2px solid var(--darkBrown);
    border-radius: 50px;
    transition: .2s ease;
}
.viewProj:hover{
    background-color: transparent;
    border: 2px solid var(--darkBrown);
}
.projCards-bot{
    margin-top: 5px;
}
.proj-info{
    font: 400 15px montserrat;
    margin: 0;
}
#body .image-slider{
    display: none;
    background-color: rgba(0, 0, 0, 0.801);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 10000;
    transition: .7s ease;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
#studentRecs-container, #alumniTracking-container, #hotelReservation-container{
    display: none;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
#miniMikimix-container{
    display: none;
    width: 75%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
#studentRecs-container .carousel, #alumniTracking-container .carousel, #hotelReservation-container .carousel, #miniMikimix-container .carousel{
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
}
#close-carousel{
    align-self: flex-end;
    justify-self: start;
    color: white;
    font: 500 20px montserrat;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(83, 83, 83);
}
#close-carousel:hover{
    background-color: rgb(94, 94, 94);
}
/* SMARTPHONE */
@media screen and (max-width: 767px) {
    .popup-menu{
        display: flex;
        background-color: var(--popupMenu);
        height: 100%;
        position: fixed;
        width: 0%;
        right: 0;
        z-index: 10000;
        transition: .7s ease;
        overflow: hidden;
    }
    .popup-navBtn{
        display: flex;
        text-align: center;
    }
    .popup-navBtn ul li a{
        text-decoration: none;
    }
    .popup-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    .closeBtn{
        margin-right: 30px;
        font: 500 20px montserrat;
        color: white;
        background-color: transparent;
        border: none;
    }
    .darkmode-popup{
        height: 25px;
        margin-left: 30px;
        filter: invert(100%);
    }
    .gt-logo{
        margin-left: 25px;
    }
    header{
        height: auto;
    }
    header .nav-btn{
        display: none;
    }
    .darkmode-icon{
        display: none;
    }
    .menuBtn{
        display: flex;
        width: 25px;
        cursor: pointer;
    }
    #menuBtn{
        display: flex;
        margin-right: 25px;
        background-color: transparent;
        border: none;
    }
    .popup-container ul li{
        color: white;
        list-style: none;
        display: block;
        margin: 50px 0px;
        font: 300 20px poltawski;
    }
    .popup-container ul li a{
        color: white;
    }
    .popup-top{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 0px 60px 0px;
    }
    #hero{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .hero-text{
        text-align: center;
        width: 70%;
    }
    .hero-text .hero-des{
        font: 400 16px montserrat;
        margin: 0;
    }
    .hero-img{
        max-width: 65%;
        margin-bottom: 20px;
    }
    .hero-text h1{
        font: 600 italic 35px poltawski;
        margin: 0;
    }
    .hero-text{
        max-width: 25rem;
    }
    .hero-text .hero-btn-links{
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        margin-top: 5px;
    }
    .hero-text .hero-btn-links{
        margin-top: 5px;
    }
    .hero-btn-links .dl-cv{
        width: max-content;
        align-self: center;
        margin-right: 0px;
    }
    #about{
        margin: 50px 0px;
        height: 45rem;
    }
    .abt-container{
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .abt-content{
        width: 75%;
    }
    .line-separator {
        width: 100%;
        height: 5px;
        background-color: var(--sectionClrLight);
        align-self: stretch;
    }
    .abt-skill, .abt-tools{
        font-size: 16px;
    }
    .skill-desc,.abt-content .tools-list{
        font: 15px;
        text-align: center;
        list-style: none;
        margin-left: 0px;

    }
    .projects-bot{
        width: 90%;
    }
    .proj-cards{
        margin: 20px 0px;
    }
    .project-desc{
        font-size: 16px;
    }
    .projects-top{
        width: 85%;
    }
    .projDesc{
        font-size: 15px;
    }
    .projects-bot{
        margin-top: 10px;
    }
    #studentRecs-container, #alumniTracking-container, #hotelReservation-container{
        width: 100%;
    }
    #miniMikimix-container{
        width: 95%;
    }
    #close-carousel{
        font-size: 18px;
        width: 23px;
        height: 23px;
        margin-bottom: 10px;
        margin-right: 0px;
    }
}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .popup-menu{
        display: none;
    }
    header li{
        margin: 0px 23px;
    }
    .hero-des{
        font: 400 18px montserrat;
    }
    h1{
        font: 600 italic 50px poltawski;
    }
    .hero-text{
        max-width: 25rem;
    }
    .abt-container{
        width: 90%;
    }
    .projects-top{
        width: 70%;
    }
    .projects-bot{
        width: 90%;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .popup-menu{
        display: none;
    }
}